# define a list 
<h3> Lists are the most verstaile datatype in python </h3>
<p> lists are based on sequences </p>

<h4 style='color:red'>Define a list </h4>

In [1]:
#
l = []
myl= list()
print(l , myl)

[] []

In [2]:
myl= ["Ahmed", "Mohamed", "Alaa", "hajar", "abc", 234.44, True, ["python", "machine learning", "DL"], None]
print(myl)

['Ahmed', 'Mohamed', 'Alaa', 'hajar', 'abc', 234.44, True, ['python', 'machine learning', 'DL'], None]

<h3 style='color:green'>Access elements using index start from zero </h3>

In [3]:
print(myl[3])

hajar

In [5]:
print(myl[7][1])

machine learning

<h3 style='color:gree'>check if  element exist or not </h3>

In [7]:
print("abbass" in myl)
print("Alaa" in myl)

False
True

# gen len of the list

In [8]:
print(len(myl))

9

In [9]:
myl = ["Alaa", "Ali", "Mohamed", "reham", "rehab", "nagwa", "Ali", "Ali", 24, 24234, 
       ["python", "DB", "DL"]]

print(myl)

['Alaa', 'Ali', 'Mohamed', 'reham', 'rehab', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL']]

get count of element

In [10]:
print(myl.count("Ali"))

3

get index of element

In [11]:
print(myl.index('Ali')) # get first occurrence

1

# loop over the list 
<img src="mared.jpeg" width='200'  height='200'>

In [12]:
for mared in myl:
    print(f"mared {mared}")

mared Alaa
mared Ali
mared Mohamed
mared reham
mared rehab
mared nagwa
mared Ali
mared Ali
mared 24
mared 24234
mared ['python', 'DB', 'DL']

In [13]:
index = 0
for mared in myl:
    print(f'index= {index}, item={mared}')
    index +=1

index= 0, item=Alaa
index= 1, item=Ali
index= 2, item=Mohamed
index= 3, item=reham
index= 4, item=rehab
index= 5, item=nagwa
index= 6, item=Ali
index= 7, item=Ali
index= 8, item=24
index= 9, item=24234
index= 10, item=['python', 'DB', 'DL']

# enumarate  ==> works with any iterable --> need an index --> generate it

In [21]:
indexed_list = enumerate(myl)
print(indexed_list)
# print(list(indexed_list))

<enumerate object at 0x78f00c154900>

In [22]:
for i , item in indexed_list:
    print(f"i={i}, item={item}")

i=0, item=Alaa
i=1, item=Ali
i=2, item=Mohamed
i=3, item=reham
i=4, item=rehab
i=5, item=nagwa
i=6, item=Ali
i=7, item=Ali
i=8, item=24
i=9, item=24234
i=10, item=['python', 'DB', 'DL']

In [23]:
for i , item in indexed_list:
    print(f"i={i}, item={item}")

In [24]:
for i , item in enumerate(myl):
    print(f"{i}:{item}")

0:Alaa
1:Ali
2:Mohamed
3:reham
4:rehab
5:nagwa
6:Ali
7:Ali
8:24
9:24234
10:['python', 'DB', 'DL']

<h2 style='color:purple'>List is mutable datatype </h2>

1- update value at existing index

In [25]:
print(myl)

['Alaa', 'Ali', 'Mohamed', 'reham', 'rehab', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL']]

In [26]:
myl[3]="Reham ElQasby"
print(myl)

['Alaa', 'Ali', 'Mohamed', 'Reham ElQasby', 'rehab', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL']]

In [27]:
myl[300]='abbass'

IndexError: list assignment index out of range

# add element to the list

In [28]:
# 1- append 
myl.append("new item")
print(myl)

['Alaa', 'Ali', 'Mohamed', 'Reham ElQasby', 'rehab', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL'], 'new item']

In [29]:
# insert at specific index 
myl.insert(5, "inserted element")
print(myl)

['Alaa', 'Ali', 'Mohamed', 'Reham ElQasby', 'rehab', 'inserted element', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL'], 'new item']

In [30]:
myl.insert(300, "Mohamed Salama")

slicing the list

In [31]:
print(myl[4:])

['rehab', 'inserted element', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL'], 'new item', 'Mohamed Salama']

In [32]:
print(myl[::-1])

['Mohamed Salama', 'new item', ['python', 'DB', 'DL'], 24234, 24, 'Ali', 'Ali', 'nagwa', 'inserted element', 'rehab', 'Reham ElQasby', 'Mohamed', 'Ali', 'Alaa']

# remove element from the list

In [33]:
# pop the element 
print(myl)
popped_element=myl.pop()
print(myl)

['Alaa', 'Ali', 'Mohamed', 'Reham ElQasby', 'rehab', 'inserted element', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL'], 'new item', 'Mohamed Salama']
['Alaa', 'Ali', 'Mohamed', 'Reham ElQasby', 'rehab', 'inserted element', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL'], 'new item']

In [34]:
print(popped_element)

Mohamed Salama

In [35]:
# pop element at specific index ??
popped_element2= myl.pop(5)
print(popped_element2)
print(myl)

inserted element
['Alaa', 'Ali', 'Mohamed', 'Reham ElQasby', 'rehab', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL'], 'new item']

I need to remove the element

In [36]:
print(myl.remove("Ali")) # remove first occurrence 
print(myl)

None
['Alaa', 'Mohamed', 'Reham ElQasby', 'rehab', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL'], 'new item']

# concat the list

In [37]:
l1  = ['linux', 'python', 'c', 'c++']
l2 = ['linear algebra', 'probaility','ml', 'dl' ]
list_of_courses=  l1 + l2 
print(list_of_courses)

['linux', 'python', 'c', 'c++', 'linear algebra', 'probaility', 'ml', 'dl']

In [38]:
# extend a list ?
l1.extend(l2)

print(l1)
print(l2)

['linux', 'python', 'c', 'c++', 'linear algebra', 'probaility', 'ml', 'dl']
['linear algebra', 'probaility', 'ml', 'dl']

# sorting the list ??

In [40]:
l1.sort() # sort elements and save it in the current variable # sorting asc 
print(l1)

['c', 'c++', 'dl', 'linear algebra', 'linux', 'ml', 'probaility', 'python']

In [41]:
l1.sort(reverse=True)
print(l1)

['python', 'probaility', 'ml', 'linux', 'linear algebra', 'dl', 'c++', 'c']

# reverse

In [42]:
print(myl)
myl.reverse()
print(myl)

['Alaa', 'Ali', 'Ali', 'Mohamed', 'Reham ElQasby', 'nagwa', 'rehab', 24, 24234, ['python', 'DB', 'DL'], 'new item']
['new item', ['python', 'DB', 'DL'], 24234, 24, 'rehab', 'nagwa', 'Reham ElQasby', 'Mohamed', 'Ali', 'Ali', 'Alaa']

In [43]:
nums = [3,4356,23,5,-10, 21]
print(max(nums))
print(min(nums))
print(sum(nums))

4356
-10
4398

In [44]:
ss = [24, "424", 24343]
print(sum(ss))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
print(sum(['a', "ds", 'fdfdf']))

TypeError: unsupported operand type(s) for +: 'int' and 'str'