In [1]:
print("Hello World")

Hello World

In [2]:
# set is unordered datatype 
# no index 
# remove duplication 
mys = {"iti", "Ahmed", "Menna", 'ali', "iti", 'iti', 323,2432.333, True , None}
print(mys)

{2432.333, True, None, 323, 'ali', 'iti', 'Ahmed', 'Menna'}

In [3]:
mys = {"iti", "Ahmed", "Menna",( 'ali', "iti"),  'iti', 323,2432.333, True , None}
print(mys)

{2432.333, True, None, 323, 'iti', 'Ahmed', ('ali', 'iti'), 'Menna'}

In [4]:
mys = {"iti", "Ahmed", "Menna",( 'ali', "iti"),  ['iti', 323,2432.333], True , None}
print(mys)

TypeError: unhashable type: 'list'

In [ ]:
# hashable types ?? hashing --> one way encryption 
# list non-hashable ,[ tuple , string , int] --> hashable ==> immutable

# set is mutable ?

In [5]:
# add item in set ?
mys.add('new item')
print(mys)

{2432.333, True, None, 323, 'iti', 'Ahmed', ('ali', 'iti'), 'new item', 'Menna'}

In [6]:
# remove item ??
# 1- pop item randomly 
popped_items = mys.pop()
print(popped_items)
print(mys)

2432.333
{True, None, 323, 'iti', 'Ahmed', ('ali', 'iti'), 'new item', 'Menna'}

In [7]:
# get len of mys 
print(len(mys))

8

In [8]:
# check element exists?
print('noha' in mys)

False

In [9]:
# remove specific element 
if 'Ahmed' in mys:
    mys.remove('Ahmed')
    print(mys)
else:
    print("=--- not found ---=")

{True, None, 323, 'iti', ('ali', 'iti'), 'new item', 'Menna'}

In [10]:
# count element occurrence 
print(mys.count('iti'))

AttributeError: 'set' object has no attribute 'count'

<img src="mared.jpeg" width='200' height='200'>

In [11]:
# loop over set ?
for mared in mys:
    print(f"item= {mared}")

item= True
item= None
item= 323
item= iti
item= ('ali', 'iti')
item= new item
item= Menna