# define a tuple 
<h3> tuples are immutable data types </h3>
<p> tuples are based on sequences </p>

<h4 style='color:red'>Define a tuple </h4>

In [1]:
#
t = ()
myt= tuple()
print(t , myt)

() ()

In [3]:
myt= ("Ahmed", "Mohamed", "Alaa", "hajar", "abc", 234.44, True, ["python", "machine learning", "DL"], None)
print(myt)

('Ahmed', 'Mohamed', 'Alaa', 'hajar', 'abc', 234.44, True, ['python', 'machine learning', 'DL'], None)

<h3 style='color:green'>Access elements using index start from zero </h3>

In [4]:
print(myt[3])

hajar

In [5]:
print(myt[7][1])

machine learning

<h3 style='color:gree'>check if  element exist or not </h3>

In [7]:
print("abbass" in myt)
print("Alaa" in myt)
print("abc" in myt[7])

False
True
False

# gen len of the tuple

In [10]:
print(len(myt))

11

In [11]:
myt = ("Alaa", "Ali", "Mohamed", "reham", "rehab", "nagwa", "Ali", "Ali", 24, 24234, 
       ["python", "DB", "DL"])

print(myt)

('Alaa', 'Ali', 'Mohamed', 'reham', 'rehab', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL'])

get count of element

In [12]:
print(myt.count("Ali"))

3

get index of element

In [13]:
print(myt.index('Ali')) # get first occurrence

1

# loop over the tuple 
<img src="mared.jpeg" width='200'  height='200'>

In [14]:
for mared in myt:
    print(f"mared {mared}")

mared Alaa
mared Ali
mared Mohamed
mared reham
mared rehab
mared nagwa
mared Ali
mared Ali
mared 24
mared 24234
mared ['python', 'DB', 'DL']

In [15]:
index = 0
for mared in myt:
    print(f'index= {index}, item={mared}')
    index +=1

index= 0, item=Alaa
index= 1, item=Ali
index= 2, item=Mohamed
index= 3, item=reham
index= 4, item=rehab
index= 5, item=nagwa
index= 6, item=Ali
index= 7, item=Ali
index= 8, item=24
index= 9, item=24234
index= 10, item=['python', 'DB', 'DL']

# enumarate  ==> works with any iterable --> need an index --> generate it

In [16]:
indexed_tuple = enumerate(myt)
print(indexed_tuple)
# print(tuple(indexed_tuple))

<enumerate object at 0x75aa47549d00>

In [17]:
for i , item in indexed_tuple:
    print(f"i={i}, item={item}")

i=0, item=Alaa
i=1, item=Ali
i=2, item=Mohamed
i=3, item=reham
i=4, item=rehab
i=5, item=nagwa
i=6, item=Ali
i=7, item=Ali
i=8, item=24
i=9, item=24234
i=10, item=['python', 'DB', 'DL']

In [18]:
for i , item in indexed_tuple:
    print(f"i={i}, item={item}")

In [19]:
for i , item in enumerate(myt):
    print(f"{i}:{item}")

0:Alaa
1:Ali
2:Mohamed
3:reham
4:rehab
5:nagwa
6:Ali
7:Ali
8:24
9:24234
10:['python', 'DB', 'DL']

<h2 style='color:purple'>tuple is immutable datatype </h2>

1- update value at existing index

slicing the tuple

In [21]:
print(myt[4:])

('rehab', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL'])

In [22]:
print(myt[::-1])

(['python', 'DB', 'DL'], 24234, 24, 'Ali', 'Ali', 'nagwa', 'rehab', 'reham', 'Mohamed', 'Ali', 'Alaa')

# concat the tuple

In [23]:
l1  = ('linux', 'python', 'c', 'c++')
l2 = ('linear algebra', 'probaility','ml', 'dl' )
tuple_of_courses=  l1 + l2 
print(tuple_of_courses)

('linux', 'python', 'c', 'c++', 'linear algebra', 'probaility', 'ml', 'dl')

In [24]:
nums = (3,4356,23,5,-10, 21)
print(max(nums))
print(min(nums))
print(sum(nums))

4356
-10
4398

# check this 
# tuple of one item

In [26]:
stds = ("noha",)
print(stds, type(stds))

('noha',) <class 'tuple'>

In [28]:
name = tuple("noha")
print(name)

('n', 'o', 'h', 'a')

In [29]:
name = tuple(["noha"])
print(name)

('noha',)

In [31]:
name = tuple(["noha"])
print(name)

('noha',)

In [32]:
print(myt)

('Alaa', 'Ali', 'Mohamed', 'reham', 'rehab', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL'])

In [33]:
myt[10].append("abbassss")
print(myt)

('Alaa', 'Ali', 'Mohamed', 'reham', 'rehab', 'nagwa', 'Ali', 'Ali', 24, 24234, ['python', 'DB', 'DL', 'abbassss'])